html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
}

main {
  flex: 1;
}

body {
  display: flex;
  flex-direction: column;
}

.body_container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  flex: 1;
}

@media (min-width: 1200px) {
  .body_container {
    width: 100%;
    max-width: 1600px;
  }
}

@media (min-width: 992px) {
  .body_container {
    width: 970px;
  }
}

@media (min-width: 768px) {
  .body_container {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .body_container {
    width: 100%;
  }
}

.common-page-header {
  height: 224px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

@media (max-width: 767px) {
  .common-page-header {
    height: 124px;
  }
}

@media (max-width: 991px) {
  .common-page-header {
    height: 150px;
  }
}

.head_page {
  font-size: 60px;
  font-weight: 300;
  color: #3d3d44;
  line-height: 1.1;
  margin: 0;
}

@media (max-width: 767px) {
  .head_page {
    font-size: 32px;
    line-height: 32px;
  }
}

@media (max-width: 992px) {
  .head_page {
    font-size: 44px;
  }
}
